.pgApp {
	background: #fff;

	.container {
		margin: 20px 10px 0 20px;
	}

	a.active {
	  color: red;
	}

	.hidden {
		display: none;
	}

	#importButton {
		position: fixed;
		bottom: 20px;
		right: 20px;
	}

	#progressBar {
		margin: 0;
		position: absolute;
	}
}

.pgCard {
	.chip {
		margin-right: 5px;
		margin-top: 5px;
	}
}

.pgNav {
	.brand-logo {
		padding-left: 20px;
	}
}