@import 'overrides';

.pgApp {
	background: #fff;

	.container {
		width: 100%;
		//margin: 20px;
	}

	a.active {
	  color: red;
	}

	.hidden {
		display: none;
	}

	#importButton {
		position: fixed;
		bottom: 20px;
		right: 20px;
	}

	#newDocButton {
		position: fixed;
		bottom: 20px;
		right: 80px;
	}

	#progressBar {
		margin: 0;
		position: absolute;
	}
}

.pgCard {
	.chip {
		margin-right: 5px;
		margin-top: 5px;
	}
}

.pgNav {
	.brand-logo {
		padding-left: 20px;
	}
}

.fullScreenModalClass {
	position: absolute;
    top: 0 !important;
    left: 0;
    width: 100%;
    min-height: 100%;
}