/* line 1, ../../scss/styles.scss */
.pgApp {
  background: #fff;
}
/* line 4, ../../scss/styles.scss */
.pgApp .container {
  margin: 20px 10px 0 20px;
}
/* line 8, ../../scss/styles.scss */
.pgApp a.active {
  color: red;
}
/* line 12, ../../scss/styles.scss */
.pgApp .hidden {
  display: none;
}
/* line 16, ../../scss/styles.scss */
.pgApp #importButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* line 22, ../../scss/styles.scss */
.pgApp #progressBar {
  margin: 0;
  position: absolute;
}

/* line 29, ../../scss/styles.scss */
.pgCard .chip {
  margin-right: 5px;
  margin-top: 5px;
}

/* line 36, ../../scss/styles.scss */
.pgNav .brand-logo {
  padding-left: 20px;
}
