/* line 3, ../../scss/styles.scss */
.pgApp {
  background: #fff;
}
/* line 6, ../../scss/styles.scss */
.pgApp .container {
  width: 100%;
}
/* line 11, ../../scss/styles.scss */
.pgApp a.active {
  color: red;
}
/* line 15, ../../scss/styles.scss */
.pgApp .hidden {
  display: none;
}
/* line 19, ../../scss/styles.scss */
.pgApp #importButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* line 25, ../../scss/styles.scss */
.pgApp #newDocButton {
  position: fixed;
  bottom: 20px;
  right: 80px;
}
/* line 31, ../../scss/styles.scss */
.pgApp #progressBar {
  margin: 0;
  position: absolute;
}

/* line 38, ../../scss/styles.scss */
.pgCard .chip {
  margin-right: 5px;
  margin-top: 5px;
}
/* line 43, ../../scss/styles.scss */
.pgCard .card-buttons {
  text-align: right;
}
/* line 46, ../../scss/styles.scss */
.pgCard .card-buttons a {
  margin-left: 5px;
}

/* line 53, ../../scss/styles.scss */
.pgNav .brand-logo {
  padding-left: 20px;
}

/* line 58, ../../scss/styles.scss */
.fullScreenModalClass {
  position: absolute;
  top: 0 !important;
  left: 0;
  width: 100%;
  min-height: 100%;
}

/* line 66, ../../scss/styles.scss */
.help-content {
  padding: 10px;
}
/* line 69, ../../scss/styles.scss */
.help-content .help-row {
  margin: 10px;
}
/* line 72, ../../scss/styles.scss */
.help-content .help-row a {
  margin-right: 10px;
}
/* line 77, ../../scss/styles.scss */
.help-content #importButton {
  position: inherit;
}
/* line 81, ../../scss/styles.scss */
.help-content #newDocButton {
  position: inherit;
}
